.button {
  width: 52px;
  height: 50px;
  background-color: $dullcolor;
  margin: 0;
  padding: 13px 16px;
  text-align: center;
  border: 0;
  border-radius: 0px 8px 8px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @include responsive(tablet) {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    width: 221px;
    height: 50px;
    font-size: 16px;
  }
  @include responsive(desktop) {
    width: 221px;
    height: 50px;
    align-items: baseline;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(71, 71, 76, 0.7);
  }
  &__text {
    color: $primarycolor;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.38px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: none;
    @include responsive(tablet) {
      display: inline-block;
    }
    @include responsive(desktop) {
      display: inline-block;
    }
  }
  &__icon {
    color: #FFFFFF;
  }
}
