.support {
  margin-left: 20px;
  margin-right: 20px;
  @include responsive(desktop) {
    margin: 0;
  }
  &__button {
    background-color: $dullcolor;
    color: $primarycolor;
    width: 280px;
    height: 50px;
    border-radius: 8px;
    @include responsive(tablet) {
      width: 306px;
      font-size: 14px;
      line-height: 24px;
      justify-content: center;
      margin: 0 0 0 40px;
    }
    @include responsive(desktop) {
      margin: 0;
    }
  }
  &__heading {
    @include fontproperty();
    color: $primarycolor;
    padding: 0;
    margin: 70px 0 50px 0;
    padding: 0;
    @include responsive(tablet) {
      @include fontproperty(20px, 1.5, 400);
      margin: 120px 0 80px 40px;
    }
    @include responsive(desktop) {
      @include fontproperty(32px, 1.25, 400);
      margin: 120px 0 90px 0;
    }
  }
  &__text {
    margin-top: 30px;
    margin-bottom: 180px;
    @include responsive(tablet) {
      margin: 40px 0 210px 40px;
    }
    @include responsive(desktop) {
      margin: 50px 0 60px 0px;
    }
  }
}
